@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Slab&display=swap');

body {
  margin:0;
  padding:0;
  background: #111;
}
nav {
  background-color:#fff;
  margin: 1.5% 25% 0% 0%;
  border-radius: 0px 5px 5px 0px;
  
  
}

* {
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
  font-family: 'Roboto', sans-serif;
}

.header-nav {
  position:relative;
  float:left;
  margin:0 auto;
}

.header-nav ul {
  position:absolute;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
}

.header-nav ul li {
  position:relative;
  float:left;
  
}

.header-nav > ul {
  position:relative;
}

.header-nav > ul > li > .header-nav-link + ul li {
  width:150px;
  opacity:0;
  height:0;
  margin-top:-48px;
}

.header-nav > ul > li:hover .header-nav-link + ul > li {
  opacity:1;
  height:auto;
  margin-top:0;
}

.header-nav .header-nav-link {
  float:left;
  text-decoration:none;
  color:#111;
  font-weight:300;
  padding:15px;
  width:100%;
}



.header-nav .header-nav-top-link {
  padding: 25px 15px 25px;
}

.header-nav ul li:hover .header-nav-link {
  background-color:#111;
  color: white;
}

.header-nav ul li:hover .header-nav-top-link {
  background-color:gray;
}

.header-nav > ul > li > .header-nav-top-link + ul {
  top:70px;
}

.header-nav > ul > li:hover .header-nav-sub-link {
  background-color:white;
  color: #111;
}

.header-logo > .header-logo-name {
  float:left;
  color:#111;
  font-size:30px;
  font-weight:bold;
  padding:14px 0;
}

.header-logo > .header-logo-name:hover {
  text-decoration:none;
}

.header-nav .header-nav-link:hover {
  background-color:#111 !important;
  color: white !important;
}



.codepen-container div {
	box-sizing: border-box;
	transition: all ease-in-out .5s;
	-moz-transition: all ease-in-out .5s;
	-webkit-transition: all ease-in-out .5s;
  width: 80vw;
}
.video {
	margin: 20px auto;
	max-width: 500px;
}

.plyr__video-embed iframe {
	
	height: 200%;
}
.icetab {
  border-radius:5px 5px 0px 0px;
	display: inline-block; 
	border-bottom: 0px;	
	margin: 0px;	
  color: #fff;
	cursor: pointer;
}

.icetab:hover{
  background: gray;
}

#icetab-content {
	overflow: hidden;
	position: relative;
}


.tabcontent {
	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff;
	width: 100%;
	border-top: 0px;
  border-radius: 0px 5px 5px 5px;
	border-top: 0px;
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}

.tabcontent:first-child {
	position: relative;	
}
.tabcontent.tab-active {
	border-top: 0px;
	display: block;
	transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
}




.codepen-container {
  max-width: 700px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}

.tabcontent {
	padding: 40px;
}
.icetab {
	padding: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.current-tab { 
	background: #fff;
  color: #111
}

.chocolat-parent img{
  width: 300px;
}
footer{
  background-color:#fff;
  margin: 10% 0% 1.5% 25%;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  align-items: flex-end;
  
  
}

* {
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
  font-family: 'Roboto', sans-serif;
}

.header-nav {
  position:relative;
  float:left;
  margin:0 auto;
}

.header-nav ul {
  position:absolute;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
}

.header-nav ul li {
  position:relative;
  float:left;
  
}

.header-nav > ul {
  position:relative;
}

.header-nav > ul > li > .header-nav-link + ul li {
  width:150px;
  opacity:0;
  height:0;
  margin-top:-48px;
}

.header-nav > ul > li:hover .header-nav-link + ul > li {
  opacity:1;
  height:auto;
  margin-top:0;
}

.header-nav .header-nav-link {
  float:left;
  text-decoration:none;
  color:#111;
  font-weight:300;
  padding:15px;
  width:100%;
}



.header-nav .header-nav-top-link {
  padding: 25px 15px 25px;
}

.header-nav ul li:hover .header-nav-link {
  background-color:#111;
  color: white;
}

.header-nav ul li:hover .header-nav-top-link {
  background-color:gray;
}

.header-nav > ul > li > .header-nav-top-link + ul {
  top:70px;
}

.header-nav > ul > li:hover .header-nav-sub-link {
  background-color:white;
  color: #111;
}

.header-logo > .header-logo-name {
  float:left;
  color:#111;
  font-size:30px;
  font-weight:bold;
  padding:14px 0;
  text-decoration:none;
}

.header-logo > .header-logo-name:hover {
  text-decoration:none;
}

.header-nav .header-nav-link:hover {
  background-color:#111 !important;
  color: white !important;
}


@media (max-width: 967px) 
{
  
  .header-nav > ul > li {
    width:100%;
   
  }
  
  .header-nav > ul > li:first-child > a {
    font-size:18px;
    font-weight:400;
  }
  
  .header-nav > ul > li:last-child {
    border-bottom:none;
  }
  
  .header-nav > ul > li > .header-nav-    top-link + ul {
    position:relative;
    top:0px;
    left:4px;
    width:100%;
  }
  
  .header-nav > ul > li > .header-nav-    top-link + ul li {
    position:relative;
    float:left;
    border-left:none;
    width:100%;
  }