/* Diagnostic Styling
    *Change Background Color
    *Outline Elements
*/

*{
    
}

body{
    background: black;
    
  }
  
  /*NAVIGATION BAR*/
  nav{
    background: white;
    margin: 40px 400px 10px 0px;
    height: 200px;
    border-radius:0px 9px 9px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
  }
  
  #left{
    display: flex;
    align-items: center;
    margin: 20px;
    
  }
  
  #right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
  }
  
  .button{
    font-size: 1.25rem;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-family: nunito san, sans-serif;
    margin: 10px 10px;
    
  }
  
  a.button:hover{
    background-color: #000;
    color: white;
  }
  
  #navimg{
    width: 200px;
  }