/* Diagnostic Styling
    *Change Background Color
    *Outline Elements
*/

*{
    
}

body{
  background: black;
  
}

/*NAVIGATION BAR*/
nav{
  background: white;
  margin: 40px 400px 10px 0px;
  height: 15vh;
  border-radius:0px 9px 9px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}

#left{
  display: flex;
  align-items: center;
  margin: 20px;
  
}

#right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0px 50px
  
}

.button{
  font-size: 1.25rem;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  font-family: nunito san, sans-serif;
  margin: 10px 10px;
  
}

a.button:hover{
  background-color: #000;
  color: white;
}

#navlogo{
  width: 6vw;
  height: 12vh;
  margin: 10px 50px
}

footer{
  background: white;
  margin: 40px 0px 10px 400px;
  height: 15vh;
  border-radius:9px 0px 0px 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}